In [9]:
import pandas as pd
import numpy as np

In [19]:
# Read the restaurants csv file
df = pd.read_csv('quartier_paris.csv',  encoding="iso-8859-1", decimal=",", sep=";")

In [20]:
df.head()

,ï»¿N_SQ_QU,C_QU,C_QUINSEE,L_QU,C_AR,N_SQ_AR,PERIMETRE,SURFACE,Geometry X Y,Geometry,st_area(shape),st_perimeter(shape)
0,750000021,21,7510601,Monnaie,6,750000006,2391.1228183,293360.5723113,"48.85438440363994, 2.3400353711305164","{""coordinates"": [[[2.343168550439539, 48.85138...",293360.5723113017,2391.0029730582137
1,750000049,49,7511301,SalpÃªtriÃ¨re,13,750000013,4759.09623874,1181560.26743328,"48.83740588522814, 2.3633186351497173","{""coordinates"": [[[2.3563634530819235, 48.8310...",1181560.267433279,4758.777702412646
2,750000033,33,7510901,Saint-Georges,9,750000009,3429.18833397,717091.56964335,"48.87993433878256, 2.3328501965554684","{""coordinates"": [[[2.3392285502760477, 48.8767...",717091.5696433517,3429.0930448327395
3,750000002,2,7510102,Halles,1,750000001,2606.4171283,412458.49632967,"48.86228910809421, 2.34489885831102","{""coordinates"": [[[2.349365804803004, 48.86057...",412458.49632967333,2606.3049334997518
4,750000019,19,7510503,Val-de-Grace,5,750000005,3485.83135795,703631.1629235,"48.841684287953186, 2.343860926316008","{""coordinates"": [[[2.34548425335897, 48.845073...",703631.1629235016,3485.6143470423676

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ï»¿N_SQ_QU           80 non-null     int64
 1   C_QU                 80 non-null     int64
 2   C_QUINSEE            80 non-null     int64
 3   L_QU                 80 non-null     object
 4   C_AR                 80 non-null     int64
 5   N_SQ_AR              80 non-null     int64
 6   PERIMETRE            80 non-null     object
 7   SURFACE              80 non-null     object
 8   Geometry X Y         80 non-null     object
 9   Geometry             80 non-null     object
 10  st_area(shape)       80 non-null     object
 11  st_perimeter(shape)  80 non-null     object
dtypes: int64(5), object(7)
memory usage: 7.6+ KB

In [22]:
# Column dropping for data quality
df.drop(columns=['C_AR'], inplace=True)

In [24]:
df.head()

,ï»¿N_SQ_QU,C_QU,C_QUINSEE,L_QU,N_SQ_AR,PERIMETRE,SURFACE,Geometry X Y,Geometry,st_area(shape),st_perimeter(shape)
0,750000021,21,7510601,Monnaie,750000006,2391.1228183,293360.5723113,"48.85438440363994, 2.3400353711305164","{""coordinates"": [[[2.343168550439539, 48.85138...",293360.5723113017,2391.0029730582137
1,750000049,49,7511301,SalpÃªtriÃ¨re,750000013,4759.09623874,1181560.26743328,"48.83740588522814, 2.3633186351497173","{""coordinates"": [[[2.3563634530819235, 48.8310...",1181560.267433279,4758.777702412646
2,750000033,33,7510901,Saint-Georges,750000009,3429.18833397,717091.56964335,"48.87993433878256, 2.3328501965554684","{""coordinates"": [[[2.3392285502760477, 48.8767...",717091.5696433517,3429.0930448327395
3,750000002,2,7510102,Halles,750000001,2606.4171283,412458.49632967,"48.86228910809421, 2.34489885831102","{""coordinates"": [[[2.349365804803004, 48.86057...",412458.49632967333,2606.3049334997518
4,750000019,19,7510503,Val-de-Grace,750000005,3485.83135795,703631.1629235,"48.841684287953186, 2.343860926316008","{""coordinates"": [[[2.34548425335897, 48.845073...",703631.1629235016,3485.6143470423676

In [25]:
# I'm checking for duplicate values. If there are any, I can delete them.
df.duplicated().value_counts()

False    80
dtype: int64

In [26]:
# Convert the data type in column 'SURFACE' to float
df['SURFACE'] = df['SURFACE'].astype(float)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ï»¿N_SQ_QU           80 non-null     int64
 1   C_QU                 80 non-null     int64
 2   C_QUINSEE            80 non-null     int64
 3   L_QU                 80 non-null     object
 4   N_SQ_AR              80 non-null     int64
 5   PERIMETRE            80 non-null     object
 6   SURFACE              80 non-null     float64
 7   Geometry X Y         80 non-null     object
 8   Geometry             80 non-null     object
 9   st_area(shape)       80 non-null     object
 10  st_perimeter(shape)  80 non-null     object
dtypes: float64(1), int64(4), object(6)
memory usage: 7.0+ KB

In [28]:
# I can delete irrelevant data for data quality. I delete three columns in this context.
# Delete specific columns from the data frame
delete_columns = ['ï»¿N_SQ_QU', 'C_QU', 'C_QUINSEE']
df = df.drop(columns = delete_columns)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   L_QU                 80 non-null     object
 1   N_SQ_AR              80 non-null     int64
 2   PERIMETRE            80 non-null     object
 3   SURFACE              80 non-null     float64
 4   Geometry X Y         80 non-null     object
 5   Geometry             80 non-null     object
 6   st_area(shape)       80 non-null     object
 7   st_perimeter(shape)  80 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 5.1+ KB

In [30]:
# I can filter for data quality.
# I select two columns and load a new data frame.
new_df = df[['Geometry X Y', 'Geometry']].copy()

In [32]:
print(new_df.head())

                            Geometry X Y  \
0  48.85438440363994, 2.3400353711305164
1  48.83740588522814, 2.3633186351497173
2  48.87993433878256, 2.3328501965554684
3    48.86228910809421, 2.34489885831102
4  48.841684287953186, 2.343860926316008

                                            Geometry
0  {"coordinates": [[[2.343168550439539, 48.85138...
1  {"coordinates": [[[2.3563634530819235, 48.8310...
2  {"coordinates": [[[2.3392285502760477, 48.8767...
3  {"coordinates": [[[2.349365804803004, 48.86057...
4  {"coordinates": [[[2.34548425335897, 48.845073...

In [34]:
# Split column into two columns separated by commas
new_df[['X', 'Y']] = df['Geometry X Y'].str.split(',', expand=True)

In [35]:
new_df.head()

,Geometry X Y,Geometry,X,Y
0,"48.85438440363994, 2.3400353711305164","{""coordinates"": [[[2.343168550439539, 48.85138...",48.85438440363994,2.3400353711305164
1,"48.83740588522814, 2.3633186351497173","{""coordinates"": [[[2.3563634530819235, 48.8310...",48.83740588522814,2.3633186351497173
2,"48.87993433878256, 2.3328501965554684","{""coordinates"": [[[2.3392285502760477, 48.8767...",48.87993433878256,2.3328501965554684
3,"48.86228910809421, 2.34489885831102","{""coordinates"": [[[2.349365804803004, 48.86057...",48.86228910809421,2.34489885831102
4,"48.841684287953186, 2.343860926316008","{""coordinates"": [[[2.34548425335897, 48.845073...",48.841684287953186,2.343860926316008

In [36]:
# Convert data frame to CSV file
new_df.to_csv("new_data.csv", index=False)