In [1]:
#Install & load sqlite3
#!pip install sqlite3  ##Uncomment the code to install sqlite3
import sqlite3

In [2]:
# Connecting to sqlite
# connection object
conn = sqlite3.connect('FUSSBALLER.db')

In [3]:
# cursor object
cursor_obj = conn.cursor()

In [4]:
# Drop the table if already exists.
cursor_obj.execute("DROP TABLE IF EXISTS FUSSBALLER")

In [5]:
# Creating table
table = """ create table IF NOT EXISTS FUSSBALLER(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));"""
 
cursor_obj.execute(table)
 
print("Table is Ready")

Table is Ready

In [7]:
cursor_obj.execute('''insert into FUSSBALLER values (1, 'Thomas', 'Müller', 'Heidelberg', 'HD')''')

In [9]:
cursor_obj.execute('''insert into FUSSBALLER values (2, 'Mario', 'Götze', 'Dortmund', 'DO'), (3, 'Ilkay', 'Gündogan', 'Mannheim', 'MA')''')

In [10]:
statement = '''SELECT * FROM FUSSBALLER'''
cursor_obj.execute(statement)

print("All the data")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

All the data
(1, 'Thomas', 'Müller', 'Heidelberg', 'HD')
(2, 'Mario', 'Götze', 'Dortmund', 'DO')
(3, 'Ilkay', 'Gündogan', 'Mannheim', 'MA')

In [11]:
# Fetch only FNAME from the table
statement = '''SELECT FNAME FROM FUSSBALLER'''
cursor_obj.execute(statement)
  
print("All the data")
output_column = cursor_obj.fetchall()
for fetch in output_column:
  print(fetch)

All the data
('Thomas',)
('Mario',)
('Ilkay',)

In [14]:
query_update='''update FUSSBALLER set CITY='Münich' where FNAME="Thomas"'''
cursor_obj.execute(query_update)

In [15]:
statement = '''SELECT * FROM FUSSBALLER'''
cursor_obj.execute(statement)
  
print("All the data")
output1 = cursor_obj.fetchmany(2)
for row in output1:
  print(row)

All the data
(1, 'Thomas', 'Müller', 'Münich', 'HD')
(2, 'Mario', 'Götze', 'Dortmund', 'DO')

In [16]:
import pandas as pd
#retrieve the query results into a pandas dataframe
df = pd.read_sql_query("select * from fussballer;", conn)

#print the dataframe
df

   ID   FNAME     LNAME      CITY CCODE
0   1  Thomas    Müller    Münich    HD
1   2   Mario     Götze  Dortmund    DO
2   3   Ilkay  Gündogan  Mannheim    MA

In [17]:
#print just the LNAME for first row in the pandas data frame
df.LNAME[0]

'Müller'

In [18]:
# Close the connection
conn.close()