# Create & Access SQL database using Python

*   Create a database
*   Create a table
*   Insert data into the table
*   Query data from the table
*   Retrieve the result set into a pandas dataframe
*   Close the database connection

SQLite is a software library that implements a self-contained, serverless, zero-configuration, transactional SQL database engine. SQLite is the most widely deployed SQL database engine in the world.

## Task 1: Create database using SQLite

In [1]:
#Install & load sqlite3
#!pip install sqlite3  ##Uncomment the code to install sqlite3
import sqlite3

In [2]:
# Connecting to sqlite
# connection object
conn = sqlite3.connect('INSTRUCTOR.db')

Cursor class is an instance using which you can invoke methods that execute SQLite statements, fetch data from the result sets of the queries. You can create Cursor object using the cursor() method of the Connection object/class.

In [3]:
# cursor object
cursor_obj = conn.cursor()

## Task 2: Create a table in the database

In this step we will create a table in the database with following details:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/table.png" align="center">

Before creating a table, let's first if the table already exist or not. To drop the table from a database use **DROP** query. A cursor is an object which helps to execute the query and fetch the records from the database.

In [4]:
# Drop the table if already exists.
cursor_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

In [5]:
# Creating table
table = """ create table IF NOT EXISTS INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));"""
 
cursor_obj.execute(table)
 
print("Table is Ready")

Table is Ready

## Task 3: Insert data into the table

In this step we will insert some rows of data into the table.

The INSTRUCTOR table we created in the previous step contains 3 rows of data:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/table1.png" align="center">

We will start by inserting just the first row of data

In [6]:
cursor_obj.execute('''insert into INSTRUCTOR values (1, 'Thomas', 'Müller', 'Heidelberg', 'HD')''')

The output you will get something as: <strong>sqlite3.Cursor at 0x27a1a491260</strong> which means mySql database has sqlite3.Cursor object at 0x27a1a49126 as output in table. But you may get the different number.

Now use a single query to insert the remaining two rows of data

In [7]:
cursor_obj.execute('''insert into INSTRUCTOR values (2, 'Mario', 'Götze', 'Dortmund', 'DO'), (3, 'Ilkay', 'Gündogan', 'Mannheim', 'MA')''')

## Task 4: Query data in the table

In this step we will retrieve data we inserted into the INSTRUCTOR table.

In [8]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

All the data
(1, 'Thomas', 'Müller', 'Heidelberg', 'HD')
(2, 'Mario', 'Götze', 'Dortmund', 'DO')
(3, 'Ilkay', 'Gündogan', 'Mannheim', 'MA')

In [9]:
## Fetch few rows from the table
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
# If you want to fetch few rows from the table we use fetchmany(numberofrows) and mention the number how many rows you want to fetch
output_many = cursor_obj.fetchmany(2) 
for row_many in output_many:
  print(row_many)

All the data
(1, 'Thomas', 'Müller', 'Heidelberg', 'HD')
(2, 'Mario', 'Götze', 'Dortmund', 'DO')

In [10]:
# Fetch only FNAME from the table
statement = '''SELECT FNAME FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
output_column = cursor_obj.fetchall()
for fetch in output_column:
  print(fetch)

All the data
('Thomas',)
('Mario',)
('Ilkay',)

<Strong>Bonus: now write and execute an update statement that changes the Thomas's CITY to Münich</strong>

In [16]:
query_update='''update INSTRUCTOR set CITY='Münich' where FNAME="Tomas"'''
cursor_obj.execute(query_update)

In [17]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
output1 = cursor_obj.fetchmany(2)
for row in output1:
  print(row)

All the data
(1, 'Tomas', 'Müller', 'Münich', 'HD')
(2, 'Mario', 'Götze', 'Dortmunt', 'DO')

## Task 5: Retrieve data into Pandas

In this step we will retrieve the contents of the INSTRUCTOR table into a Pandas dataframe

In [18]:
import pandas as pd
#retrieve the query results into a pandas dataframe
df = pd.read_sql_query("select * from instructor;", conn)

#print the dataframe
df

   ID  FNAME     LNAME      CITY CCODE
0   1  Tomas    Müller    Münich    HD
1   2  Mario     Götze  Dortmunt    DO
2   3  Ilkay  Gündogan  Mannheim    MA

In [19]:
#print just the LNAME for first row in the pandas data frame
df.LNAME[0]

'Müller'

Once the data is in a Pandas dataframe, you can do the typical pandas operations on it.

For example you can use the shape method to see how many rows and columns are in the dataframe

In [20]:
df.shape

(3, 5)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      3 non-null      int64
 1   FNAME   3 non-null      object
 2   LNAME   3 non-null      object
 3   CITY    3 non-null      object
 4   CCODE   3 non-null      object
dtypes: int64(1), object(4)
memory usage: 248.0+ bytes

## Task 6: Close the Connection

We free all resources by closing the connection. Remember that it is always important to close connections so that we can avoid unused connections taking up resources.

In [22]:
# Close the connection
conn.close()

## Summary

In this tutorial you created a database & table in Python notebook using SQLite3. Then created a table and insert a few rows of data into it. Then queried the data. You also retrieved the data into a pandas dataframe.