It's not that we humans only take debts to manage our necessities. A country may also take debt to manage its economy. For example, infrastructure spending is one costly ingredient required for a country's citizens to lead comfortable lives. [The World Bank](https://www.worldbank.org) is the organization that provides debt to countries.

In this notebook, we are going to analyze international debt data collected by The World Bank. The dataset contains information about the amount of debt (in USD) owed by developing countries across several categories. We are going to find the answers to questions like: 

- What is the total amount of debt that is owed by the countries listed in the dataset?
- Which country owns the maximum amount of debt and what does that amount look like?
- What is the average amount of debt owed by countries across different debt indicators?

![](image.jpg)

Below is a snapshot of the database you will be working with:

|country_name|country_code|indicator_name                                                    |indicator_code|debt       |
|------------|------------|------------------------------------------------------------------|--------------|-----------|
|Afghanistan |AFG         |"Disbursements on external debt, long-term (DIS, current US$)"    |DT.DIS.DLXF.CD|72894453.7 |
|Afghanistan |AFG         |"Interest payments on external debt, long-term (INT, current US$)"|DT.INT.DLXF.CD|53239440.1 |
|Afghanistan |AFG         |"PPG, bilateral (AMT, current US$)"                               |DT.AMT.BLAT.CD|61739336.9 |
|Afghanistan |AFG         |"PPG, bilateral (DIS, current US$)"                               |DT.DIS.BLAT.CD|49114729.4 |
|Afghanistan |AFG         |"PPG, bilateral (INT, current US$)"                               |DT.INT.BLAT.CD|39903620.1 |
|Afghanistan |AFG         |"PPG, multilateral (AMT, current US$)"                            |DT.AMT.MLAT.CD|39107845   |
|Afghanistan |AFG         |"PPG, multilateral (DIS, current US$)"                            |DT.DIS.MLAT.CD|23779724.3 |
|Afghanistan |AFG         |"PPG, multilateral (INT, current US$)"                            |DT.INT.MLAT.CD|13335820   |
|Afghanistan |AFG         |"PPG, official creditors (AMT, current US$)"                      |DT.AMT.OFFT.CD|100847181.9|
|Afghanistan |AFG         |"PPG, official creditors (DIS, current US$)"                      |DT.DIS.OFFT.CD|72894453.7 |

You will execute SQL queries to answer six questions, as listed in the instructions.

In [21]:
--num_distinct_countries
SELECT COUNT(DISTINCT country_name) AS num_distinct_countries
FROM international_debt;

   num_distinct_countries
0                     124

In [20]:
--distinct_debt_indicators
SELECT DISTINCT indicator_name AS distinct_debt_indicators
FROM international_debt
ORDER BY indicator_name;

                             distinct_debt_indicators
0   Disbursements on external debt, long-term (DIS...
1   Interest payments on external debt, long-term ...
2   Interest payments on external debt, private no...
3                   PPG, bilateral (AMT, current US$)
4                   PPG, bilateral (DIS, current US$)
5                   PPG, bilateral (INT, current US$)
6                       PPG, bonds (AMT, current US$)
7                       PPG, bonds (INT, current US$)
8            PPG, commercial banks (AMT, current US$)
9            PPG, commercial banks (DIS, current US$)
10           PPG, commercial banks (INT, current US$)
11               PPG, multilateral (AMT, current US$)
12               PPG, multilateral (DIS, current US$)
13               PPG, multilateral (INT, current US$)
14         PPG, official creditors (AMT, current US$)
15         PPG, official creditors (DIS, current US$)
16         PPG, official creditors (INT, current US$)
17    PPG, other private creditors (AMT, current US$)
18    PPG, other private creditors (DIS, current US$)
19    PPG, other private creditors (INT, current US$)
20          PPG, private creditors (AMT, current US$)
21          PPG, private creditors (DIS, current US$)
22          PPG, private creditors (INT, current US$)
23  Principal repayments on external debt, long-te...
24  Principal repayments on external debt, private...

In [19]:
--total_debt
SELECT SUM(debt) AS total_debt
FROM international_debt
GROUP BY country_name;

       total_debt
0    1.134357e+11
1    3.504549e+10
2    4.636622e+08
3    8.649121e+10
4    1.880529e+08
..            ...
119  8.616331e+09
120  2.128810e+11
121  2.994247e+08
122  1.129464e+08
123  1.196141e+08

[124 rows x 1 columns]

In [18]:
--highest_debt_country
SELECT country_name, SUM(debt) AS highest_debt_country
FROM international_debt
GROUP BY country_name
ORDER BY SUM(debt) DESC
LIMIT 1;

  country_name  highest_debt_country
0        China          2.857935e+11

In [17]:
--avg_debt_per_indicator
SELECT indicator_name, AVG(debt) AS avg_debt_per_indicator
FROM international_debt
GROUP BY indicator_name;

                                       indicator_name  avg_debt_per_indicator
0   Principal repayments on external debt, private...            5.161194e+09
1                       PPG, bonds (INT, current US$)            8.047334e+08
2   Interest payments on external debt, long-term ...            1.644024e+09
3                PPG, multilateral (INT, current US$)            1.362307e+08
4            PPG, commercial banks (AMT, current US$)            7.348687e+08
5          PPG, official creditors (AMT, current US$)            1.191188e+09
6                       PPG, bonds (AMT, current US$)            1.082624e+09
7   Interest payments on external debt, private no...            1.220411e+09
8                   PPG, bilateral (AMT, current US$)            7.126196e+08
9           PPG, private creditors (INT, current US$)            7.197402e+08
10    PPG, other private creditors (DIS, current US$)            8.113516e+07
11         PPG, official creditors (INT, current US$)            2.976773e+08
12  Disbursements on external debt, long-term (DIS...            2.152041e+09
13               PPG, multilateral (DIS, current US$)            8.398437e+08
14                  PPG, bilateral (INT, current US$)            1.640933e+08
15         PPG, official creditors (DIS, current US$)            1.958983e+09
16  Principal repayments on external debt, long-te...            5.904868e+09
17                  PPG, bilateral (DIS, current US$)            1.223139e+09
18          PPG, private creditors (AMT, current US$)            1.803694e+09
19           PPG, commercial banks (DIS, current US$)            2.933052e+08
20    PPG, other private creditors (INT, current US$)            3.425065e+07
21               PPG, multilateral (AMT, current US$)            4.900622e+08
22           PPG, commercial banks (INT, current US$)            1.566476e+08
23          PPG, private creditors (DIS, current US$)            3.113233e+08
24    PPG, other private creditors (AMT, current US$)            7.468888e+08

In [16]:
--highest_principal_repayment
SELECT country_name, MAX(debt) AS highest_principal_repayment
FROM international_debt
WHERE indicator_code = 'DT.AMT.DLXF.CD'
GROUP BY country_name;

                                     country_name  highest_principal_repayment
0                                       Indonesia                 3.091611e+10
1                                      Bangladesh                 2.077015e+09
2                              Iran, Islamic Rep.                 1.058853e+08
3                                        Cameroon                 1.040481e+10
4                                       St. Lucia                 2.033267e+07
..                                            ...                          ...
119                                    Costa Rica                 1.776492e+09
120  Least developed countries: UN classification                 2.519703e+10
121                                         Haiti                 6.144434e+07
122                                         Samoa                 2.171541e+07
123                                       Somalia                 3.298503e+07

[124 rows x 2 columns]